<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500543379919-ge14nvb22uph29jmhi6s2a7f2kla8nrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500543379919-ge14nvb22uph29jmhi6s2a7f2kla8nrg</string>
	<key>API_KEY</key>
	<string>AIzaSyDR4M3lHdpA8XZbgymsdujXFRPiyY3hKVM</string>
	<key>GCM_SENDER_ID</key>
	<string>500543379919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.NIBMCOVID19</string>
	<key>PROJECT_ID</key>
	<string>nibm-covid19-5c713</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-covid19-5c713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500543379919:ios:760fe077ca59224acb5aba</string>
	<key>DATABASE_URL</key>
	<string>https://nibm-covid19-5c713.firebaseio.com</string>
</dict>
</plist>